# Configuration oauth2-proxy - LAB (Keycloak) -> identique en prod avec Entra ID
# en changeant uniquement oidc_issuer_url / client_id / client_secret.

provider = "oidc"
oidc_issuer_url = "http://keycloak:8080/realms/lab"
redirect_url = "https://${APP_DOMAIN}/oauth2/callback"

client_id = "${OAUTH2_PROXY_CLIENT_ID}"
client_secret = "${OAUTH2_PROXY_CLIENT_SECRET}"
cookie_secret = "${OAUTH2_PROXY_COOKIE_SECRET}"

email_domains = ["*"]
cookie_secure = true
cookie_httponly = true
cookie_expire = "8h"

# Groupe imitant le futur groupe Entra "SG-Anonymiseur-Utilisateurs"
allowed_groups = ["SG-Anonymiseur-Utilisateurs"]

pass_access_token = false
pass_user_headers = true
set_xauthrequest = true

http_address = "0.0.0.0:4180"
reverse_proxy = true
